/* 
1. DEFAULT STUFF
2. HEADER
3. FOOTER
4. NEWS CARD STUFF
5. HOME PAGE

*/

/* DEFAULT STUFF */
* {
  box-sizing: border-box;
}

:root {
  --blue: #0054a3;
  --light-blue: #8ba7c2;
  --white: #fff;
  --black: #000;
  --background-color: #e4d1d1;

  --font-Signika: "Signika", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: var(--font-Roboto);
  align-items: center;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}

a,
h1,
h2,
h3,
h4 {
  font-family: var(--font-Signika);
}

h4 {
  font-size: 22px;
}

a,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

/*  HEADER */

.header {
  display: flex;
  padding: 0px 20px;
  max-width: 1450px;
  align-items: center;
  gap: 40px;
}

header {
  font-size: 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.logo-desktop {
  width: 250px;
}

img {
  max-width: 100%;
}

nav a {
  text-decoration: none;
  color: var(--black);
  white-space: nowrap;
}

/* hamburger meny */

/* FOOTER */
footer {
  font-size: 20px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100vw;
}

.footer {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  margin-left: 3%;
  background: var(--white);
  padding: 10px 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
/*  NEWS CARD STUFF */

.news-section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.news-section img {
  border-radius: 25px;
}

.news-card {
  display: flex;
  flex-direction: column;
  background-color: red;
  border-radius: 25px;
  padding: 20px;
  max-height: 440px;
  max-width: 370px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 392px;
}

.news-card img {
  max-width: 326px;
  width: 100%;
  max-height: 217px;
  margin-bottom: 10px;
}

h3 {
  font-size: 32px;
}

.news-card h4 {
  margin-bottom: 5px;
}

.professor-aero {
  background-color: var(--white);
}

.elephant-night {
  background-color: var(--light-blue);
}

.energetica {
  background-color: var(--white);
}

/*  HOMEPAGE  */

.homepage-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1150px;
}
.h1-and-sub {
  margin-left: 20px;
}

.icons-container {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  border-bottom: solid 1px var(--black);
  gap: 70px;
}

.index-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1 {
  margin-top: 25px;
  font-size: 40px;
}

p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.astronaut {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 750px;
  width: 100%;
}

.our-aim-container {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.our-aim {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 750px;
}

h2 {
  font-size: 36px;
}

.hidden {
  display: none;
}

.homepage-subtitle {
  font-size: 24px;
}

.line-break::after,
.line-break::before {
  content: "\A";
  white-space: pre;
}

/*  EXHIBITION PAGE */

.exhibition-cards img {
  border-radius: 15px;
  max-width: 440px;
  width: 100%;
}

.exhibition-container {
  display: flex;
  flex-direction: column;
}

.exhibition-cards {
  width: 100%;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  padding: 42px 55px;
  gap: 30px;
  margin-bottom: 40px;
}

.reverse-card {
  flex-direction: row-reverse;
}

.exhibition-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1150px;
}

.exhibition-main h1 {
  align-self: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.exhibition-cards-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GET INVOLVED PAGE */

.involved-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.support-card {
  background-color: var(--white);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex;
}

.support-card h2 {
  text-align: center;
  padding: 30px;
}

.involved-cards img {
  border-radius: 15px;
}

.support {
  grid-column: 1 / 2;
}

.volunteer {
  grid-column: 2 / 3;
}

.internship {
  grid-column: 1 / 3;
  margin-bottom: 20px;
}

.volunteer img {
  max-height: 290px;
}

.support-card p {
  font-size: 22px;
}

/*  EXPLORE PAGE  */

.explore-card {
  display: flex;
  gap: 20px;
}

.explore-card h2 {
  font-size: 28px;
}

.subtitle-explore {
  font-size: 24px;
}

/* VISIT PAGE */

.grid-container-visit {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr;
  grid-template-rows: repeat(4, min-content);
  gap: 25px;
}

.biggy {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  justify-self: center;
}

.price {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.opening {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.accessibility {
  grid-column: 1 / 3;
  justify-self: center;
  grid-row: 3 / 5;
  display: flex;
  flex-direction: column;
}

.accessibility,
.cafe {
  margin-bottom: 30px;
}

.accessibility img {
  width: 100%;
}

.location-card {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.biggy img {
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  max-height: 500px;
}

.biggy {
  display: flex;
  flex-direction: column;
}

.location-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.location-text h2 {
  text-align: center;
}

.accessibility div,
.accessibility section {
  flex: 1;
}

.accessibility div {
  display: flex;
}

.location-card h2 {
  font-size: 38px;
  margin: 0 10px;
}

.visit-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.accessibility img {
  border-radius: 0px 0px 25px 25px;
}

.explore-card {
  background-color: var(--white);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cafe img {
  border-radius: 0px 0px 25px 25px;
  width: 100%;
}

.cafe div {
  display: flex;
}

.cafe h2,
.accessibility h2 {
  text-align: center;
  margin-bottom: 10px;
}

.opening-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.opening-day,
.opening-hour {
  display: grid;
  grid-template-rows: repeat(7, min-content);
  gap: 10px;
}

.opening {
  padding: 40px;
  background-color: #393939;
  color: var(--white);
}

.opening p {
  font-size: 19px;
}

.opening h2,
.price h2 {
  font-size: 34px;
}

.shop,
.price,
.cafe section,
.accessibility section {
  padding: 40px 20px 60px 20px;
  font-size: 18px;
}

.price {
  border: solid 8px var(--light-blue);
}

.price-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.group-price {
  padding: 40px 20px 60px 20px;
  text-align: center;
}

.price-info,
.money-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-info {
  margin-left: 25px;
}

/* HOMEPAGE MEDIA QUERIES */
@media (max-width: 1150px) {
  nav {
    display: none;
  }

  /*  HOMEPAGE */
  .news-section {
    flex-direction: column;
  }

  h3 {
    align-self: center;
  }

  .hidden {
    display: block;
  }

  .show {
    display: none;
  }

  .our-aim-container {
    flex-direction: column;
    align-items: center;
  }

  main {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%;
  }

  /* EXHIBITION PAGE MEDIA QUERIES */

  .exhibition-cards {
    flex-direction: column;
    align-items: center;
  }

  .exhibition-container img,
  .exhibition-cards-text {
    max-width: 750px;
    width: 100%;
  }

  /* VISIT PAGE MEDIA */

  .grid-container-visit {
    grid-template-columns: 1fr 1fr;
  }

  .biggy {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .price {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .opening {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .accessibility {
    grid-row: 4 / 5;
  }
}

@media (max-width: 700px) {
  /* VISIT PAGE */
  .grid-container-visit {
    grid-template-columns: 1fr;
  }

  .biggy {
    grid-row: 3 / 4;
  }

  .price {
    grid-row: 1 / 2;
  }

  .opening {
    grid-row: 2 / 3;
  }

  .shop {
    grid-row: 4 / 5;
  }

  .cafe {
    grid-row: 5 / 6;
  }

  .accessibility {
    grid-row: 6 / 7;
  }

  .biggy,
  .price,
  .opening,
  .shop,
  .cafe {
    grid-column: 1 / -1;
  }

  /* GET INVOLVED PAGE */

  .involved-cards {
    grid-template-columns: 1fr;
  }

  .support,
  .volunteer,
  .internship {
    grid-column: 1;
  }
}

@media (max-width: 920px) {
  .location-footer,
  .socials-footer {
    margin-right: 100px;
  }
}

@media (max-width: 635px) {
  .location-footer,
  .socials-footer {
    margin-right: 0px;
  }
}
